<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Spring Boot Thymeleaf Hello World Example</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" type="text/css" href="webjars/bootstrap/3.3.7/css/bootstrap.min.css"/>
    <link rel="stylesheet" th:href="@{/css/search.css}" />
</head>

<body>
<div class="container">

    <form class="form-horizontal" id="search-form">
    <div class="row">
        <div class="col-sm-6 col-sm-offset-3">
            <div id="imaginary_container">
                <div class="input-group stylish-input-group">
                    <input type="text" class="form-control"  placeholder="Search" >
                    <span class="input-group-addon">
                        <button type="submit">
                            <span class="glyphicon glyphicon-search"></span>
                        </button>
                    </span>
                </div>
            </div>
        </div>
    </div>
    </form>
    <table class="table table-striped table-hover">
        <thead>
            <tr>
                <th>N° mandat</th>
                <th>Client</th>
                <th>Offre</th>
                <th>Structure</th>
                <th>Profil de risque</th>
                <th>Actif net</th>
            </tr>
        </thead>
        <tbody>
        <tr>
            <td>1</td>
            <td>Arnaud Mazelin</td>
            <td>Alliage</td>
            <td>CTO</td>
            <td>Mandat 30-70</td>
            <td>150 000</td>
        </tr>
        <tr>
            <td>1</td>
            <td>Arnaud Mazelin</td>
            <td>Alliage</td>
            <td>CTO</td>
            <td>Mandat 30-70</td>
            <td>150 000</td>
        </tr>
        <tr>
            <td>1</td>
            <td>Arnaud Mazelin</td>
            <td>Alliage</td>
            <td>CTO</td>
            <td>Mandat 30-70</td>
            <td>150 000</td>
        </tr>
        <tr>
            <td>1</td>
            <td>Arnaud Mazelin</td>
            <td>Alliage</td>
            <td>CTO</td>
            <td>Mandat 30-70</td>
            <td>150 000</td>
        </tr>
        </tbody>
    </table>
    <ul class="pagination">
        <li><a href="#">&laquo;</a></li>
        <li><a href="#">1</a></li>
        <li><a href="#">2</a></li>
        <li><a href="#">3</a></li>
        <li><a href="#">4</a></li>
        <li><a href="#">5</a></li>
        <li><a href="#">&raquo;</a></li>
    </ul>
</div>

<script type="text/javascript" src="webjars/jquery/3.3.1/jquery.min.js"></script>
<script type="text/javascript" src="webjars/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script type="text/javascript" src="js/search.js"></script>
</body>
</html>
